{% load thumbnail %}

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
(function ($) {
    $(function () {
        var jcrop_api, boundx, boundy;
        function crop() {
          $('#jcrop_target_{{ input_name }}').Jcrop({
                aspectRatio: 0,
                onChange: update_input,
                onSelect: update_input
          }, function(){
                  var bounds = this.getBounds();
                  //window.X = this
                  boundx = bounds[0];
                  boundy = bounds[1];
                  jcrop_api = this;
                  //setTimeout(function () {
                    //jcrop_api.setSelect([0, 0, bounds[0], bounds[1]]);
                  //}, 0)
          });
          function update_input(c)
          {
                $.extend(c, {
                    image_width: $('#jcrop_target_{{ input_name }}').width(),
                    image_height: $('#jcrop_target_{{ input_name }}').height()
                })
                $("#id_{{ input_name }}-crop-data").val($.toJSON(c))
          };
          update_input()
        }

        $("#jcrop_crop_{{ input_name }}").change(function () {
            if ($(this).is(":checked"))
            {
                $(".jcrop_panel.{{ input_name }}").slideDown('fast')
                if (jcrop_api == null)
                    crop()
            }
            else
            {
                $(".jcrop_panel.{{ input_name }}").slideUp('fast')
            }
        })
        $("#jcrop_crop_{{ input_name }}").change()

    })
})(django.jQuery)
// ]]>
</script>

<p class="file-upload">
    Atualmente:
    <a href="{{ image_url }}">{{ image_url }}</a>
    <br />
    <img src="{% thumbnail image_value JCROP_IMAGE_THUMBNAIL_DIMENSIONS %}" id="jcrop_preview_{{ input_name }}" />
    <span class="clearable-file-input">
        {{ clear }}
        <label for="{{ clear_checkbox_id }}">{{ clear_checkbox_label }}</label>
    </span>
    <span class="clearable-file-input">
        <input name="{{ input_name }}-crop" type="checkbox" id="jcrop_crop_{{ input_name }}" />
        <label for="">Recortar</label>
    </span>
    <br />
    <span class="{{ input_name }} jcrop_panel" style="display: none">
        <img src="{% thumbnail image_value JCROP_IMAGE_WIDGET_DIMENSIONS %}" id="jcrop_target_{{ input_name }}" />
    </span>
    <br />
    Upload:
    {{ input }}
    <input type="hidden" name="{{ input_name }}-original" value="{{ image_value }}"  />
    <input type="hidden" name="{{ input_name }}-crop-data" id="id_{{ input_name }}-crop-data"  />
<!--    {{ JCROP_IMAGE_THUMBNAIL_DIMENSIONS }} |-->
<!--    {{ JCROP_IMAGE_WIDGET_DIMENSIONS }}-->
</p>

